@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 110px;
  color: white;
}

a {
  cursor: pointer;
  font-weight: bold;
  margin: 15px;
}

.neo-section {
  min-height: 700px;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 30px;
  position: relative;
}

.wm {
  width: 50%;
  float: left;
}


.clear {
  clear: both;
}

.center {
  text-align: center;
}

.neo-container {
  max-width: 1280px;
  padding: 2% 2%;
  margin: 0 auto;
  margin-top: 200px;
  ;
}

.sombra {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.neo-section>.neo-container {
  position: relative;
  z-index: 105;
}

.texto-centro {
  color: white;
  font-size: 3em;
  font-weight: bold;
}

.btn {
  width: 280px;
  color: white;
  border-radius: 10px;
  border: 3px solid #a55eea;
  padding: 20px;
  font-weight: bold;
}

.botoes {
  padding: 2% 5%;
}

.btn:hover {
  color: #cbd893;
  background-color: rgba(0, 0, 0, 0.5);
}

.rodape {
  color: white;
  background-color: #4527a0;
  text-align: center;
  font-size: 1.25em;
  padding: 15px;
}